@import "tailwindcss";

:root {
    font-family: var(--font-family-base), sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-normal-text);
    background-color: var(--color-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 2px solid var(--color-normal-text);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-secondary);
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: var(--color-primary);
}
button:focus,
button:focus-visible {
    outline: 2px auto var(--color-primary);
}