@import "tailwindcss";

:root {
    font-family: var(--font-family-base), sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-normal-text);
    background-color: var(--color-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
}

.no-scrollbar {
    -ms-overflow-style: none;     /* IE & Edge */
    scrollbar-width: none;        /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
    display: none;                /* Chrome, Safari */
}
