:root {
    /* Farben */
    --color-primary: #FDCD1F;
    --color-secondary: #1a0f0a;
    --color-bg: #FDCD1F;
    --color-normal-text: #ffffff;
    --color-primary-text: #1a0f0a;
    --color-secondary-text: #FDCD1F;
    --color-transparent-text: rgba(224, 221, 211, 0.2);

    /* Typografie */
    /*--font-family-base: 'Plus Jakarta Sans', sans-serif;*/
    --font-family-base: 'Outfit', sans-serif;
    --font-size-base: 16px;
    --font-size-title: 24px;
    --font-size-text: 12px;
}
