:root {
    /* Farben */
    --color-primary: #FDCD1F;
    --color-secondary: #1a0f0a;
    --color-bg: #FDCD1F;
    --color-normal-text: #ffffff;
    --color-primary-text: #1a0f0a;
    --color-secondary-text: #FDCD1F;
    --color-transparent-text: rgba(224, 221, 211, 0.2);

    /* Typografie */
    /*--font-family-base: 'Plus Jakarta Sans', sans-serif;*/
    --font-family-base: 'Outfit', sans-serif;
    --font-size-base: 16px;
    --font-size-title: 24px;
    --font-size-text: 12px;

    --shadow-soft: 0 4px 20px rgba(26, 15, 10, 0.08);
    --shadow-medium: 0 8px 40px rgba(26, 15, 10, 0.12);
    --shadow-strong: 0 20px 60px rgba(26, 15, 10, 0.2);
}
